{% extends "layout.html" %}
{% block content %}
    <h2>About GameStop :D™</h2>
    <p>GameStop :D™ is a wannabe company run by two college students,
        <br>Siddhant Thakur - RA1811027010004 <a href='https://twitter.com/sidtweetsnow'>Twitter</a> <a href='https://github.com/sidthakur08'>Github</a> 
        <br>Aayush Agarwal - RA1811027010006 <a href='https://twitter.com/aayush_88'>Twitter</a> <a href='https://github.com/Aayush-99'>Github</a>.
        <br>
        <br> We have no relation, whatsoever, with the actual GameStop and we also didn't buy any stocks or made profit from what went down between GameStop and the Redditers. That's their business.

    <p> There is no GameStop :D™ without the gamers. Thanks for the support! Please don't sue us GameStop. <b>Please.</b></p>

{% endblock content %}