{% extends "layout.html" %}
{% block content %}
    <h1 class="display-6">Welcome to the Largest Community of PS4 Gamers!!</h1>
    <br>
    <p class="lead">Looking for a game on PS4? Want all the information at one place? Well you're at the right site! <br> Here At GameStop :D™, we believe in providing every little detail about the games our customers love and are curious about.</p>
    <p class="lead">Our product, <b>db4ps</b>, is our way of connecting the gamers to the games. It is a detailed collection of all the games developed for the PS4.</p>
    <p class="lead">Finished a game but can't get enough of it? Use our "Similar Games Finder" and play more amazing titles!!</p>
    <br>
    <h2>Posts from our Users</h1><br>
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content%}